<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../shared.css">
    <link rel="stylesheet" type="text/css" href="./index.css">

    <title>Spiono</title>
</head>

<body>
    <section class="select-file">
        <div class="logo"><img src="../../images/logo.png" /></div>
        <div class="button">Select Log File</div>
        <div class="footer">Yakk</div>
    </section>

    <script>let exports = { "__esModule": true };</script>
    <script src="./index.js"></script>
</body>

</html>